<% layout("layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="alert alert-danger col-5 offset-3" role="alert">
            <h4 class="alert-heading"><%=message%></h4>
        </div>
        <form action="\items" class="col-2 offset-3">
            
            <button class=" btn btn-sm btn-dark "><i class="fa-solid fa-arrow-left"></i> Go Back</button>
        </form>
    </div>
   